/* Start -:- For WebKit Browsers */
::-webkit-scrollbar {
    width: 10px; /* Set width of scrollbar */
}
::-webkit-scrollbar-thumb {
    background-color: #575759; /* Set color of thumb */
    border-radius: 10px; /* Set border radius of thumb */
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set color of track */
}
/* End -:- For WebKit Browsers */

/* For Microsoft Browsers */
::-ms-scrollbar {
    width: 10px; /* Set width of scrollbar */
}
::-ms-scrollbar-thumb {
    background-color: gray; /* Set color of thumb */
    border-radius: 10px; /* Set border radius of thumb */
}
::-ms-scrollbar-track {
    background-color: #f1f1f1; /* Set color of track */
}

html{
    padding: 0px;
    margin: 0px;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: #E2E6EA;
    font-family: 'Roboto Regular', sans-serif;
}

#root{

}
.vue_root_wrapper{
    display: grid;
    grid-template-rows: auto auto max-content;
    position: relative;
}
.vue_top_nav_wrapper{
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Alfa Slab One', cursive;
}
.vue_top_nav_wrapper .navbar{
    background-color: #41B883 !important;
    color: #283747 !important;
}
.vue_top_nav_wrapper .navbar .vue_user_dropdown_menus li a{
    font-family: 'Dancing Script Regular', cursive;
    font-size: 20px;
    font-weight: bold;
}
.vue_top_nav_logo{
    width: 40px;
    height: 40px;
    background: transparent;
}
.vue_content_wrapper{
    margin-top: 80px; /* height of the nav */
    margin-bottom: 80px; /* height of the footer */
}
.vue_user_info_card{
    font-family: 'Dancing Script Regular', cursive;
    font-size: 18px;
}
.vue_content_wrapper .vue_article_card{
    width: 100%;
    max-height: 100%;
}
.vue_content_wrapper .vue_article_card .card-header h5{
    font-family: 'Alfa Slab One', cursive;
}
.vue_content_wrapper .vue_article_card img{
    max-width: 100%;
    height: 40vh;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /*object-fit: cover;*/
    /*object-fit: contain;*/
}
.vue_content_wrapper .vue_article_details_img{
    height:45vh;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    /*background-size: contain;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /*object-fit: contain;*/
    /*object-fit: cover;*/
}
.vue_article_details_header{
    background-color: #FFFFFF;
}
.vue_article_details_context {
    background-color: #FFFFFF;
}
.vue_bottom_footer_wrapper{
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 12px 0 12px 0;
    background-color: #41B883;
}
.vue_bottom_footer_wrapper .vue_footer_context{


}
.vue_bottom_footer_wrapper .vue_footer_context h5{
    padding: 0;
    margin: 0;
    color: #283747;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Dancing Script Regular', cursive;
}
.vue_blog_search_card .card-header h6{
    font-family: 'Alfa Slab One', cursive;
}




